<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('zookeeper_browser.static', filename='dist/css/sb-admin-2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('zookeeper_browser.static', filename='dist/css/timeline.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('zookeeper_browser.static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('zookeeper_browser.static', filename='bower_components/metisMenu/dist/metisMenu.min.css') }}">
    <title>Zookeeper browser by Mijalko</title>
    <script>
        function OnDelClickHandler() {
            if(confirm("Are sure you want to delete element")) {
               document.getElementById('submitValue').setAttribute('value', "Delete");
               document.getElementById('frmId').submit();
           }
        }

        function OnAddClickHandler() {
            var node_name = prompt("Please enter the name of the node");
            if (node_name != null)
               document.getElementById('submitValue').setAttribute('value', "Add");
               document.getElementById('node_name').setAttribute('value', node_name);
               document.getElementById('frmId').submit();

        }

</script>
</head>
<body>
<div id="wrapper">
    <form action="{{ url_for('zookeeper_browser.index', path=path) }}" id="frmId" method=post>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Zookeeper browser</a>
            </div>
        </nav>
        <div class="row well">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                {#            create path#}
                {% for path_element in path_parts %}
                    <label> > </label>
                    <a href="{{ path_element[1] }}">{{ path_element[0] }}</a>
                {% endfor %}
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>

            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Children</div>
                    <div class="panel-body">
                        {% for child in children %}
                            <a href="{{ child[1] }}">{{ child[0] }}, </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Node properties</div>
                    <div class="panel-body">
                        <table class="table-striped">
                            {% for d in node_properties %}
                                <tr>
                                    <td>{{ d[0] }}</td>
                                    <td>{{ d[1] }}</td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Node data</div>
                    <div class="panel-body">
                        <textarea class="form-control" rows="5" id="node_val" name="node_val" title="node_val">{{ data }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-primary" name="submitbtn" value="delete" id="delBtn" onclick="OnDelClickHandler()">Delete</button>
                <button type="submit" class="btn btn-primary" name="submitbtn" value="update">Update Data</button>
                <button type="button" class="btn btn-primary" name="submitbtn" value="add" onclick="OnAddClickHandler()">Add new child</button>
                <input type="hidden" name="submitDocUpdate" value="Save" id="submitValue"/>
                <input type="hidden" name="node_name" value="" id="node_name"/>
            </div>
        </div>
    </form>
</div>

</body>
</html>
